@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-image: url("media/div.png");
 
  }

header {
    background-color: white;
    overflow: hidden;
    
}

.logo {
    height: 4vw;
    width: 17vw;
    margin: 2vh 3vw;
    display: inline-block;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    display: inline-flex;
 
}

.navtekst {
    margin: 4vh 1vw;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}

.navtekst:hover {
    color: rgb(230, 124, 112);
}

#home {
    color: #98654a;
}


footer {
    height: 60vh;
    width: 100%;
    background-image: url("media/footer.png");
    background-size: cover;
    list-style-type: none;
    color: #3a3a3a;
    margin-top: 7vw;
}

.footerlogo {
    margin-top: 6vw;
    margin-bottom: 2vw;
    margin-left: 37%;
    width: 25vw;
}

a:link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin-left: 17vw;
    margin-top: 1vw;
}

.footerList {
    display: flex;
}


.linktekst{
    color: aliceblue;
}


.h11{
text-align: center;
font-weight: bold;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  width: 80%;
  margin-left: 9%;
}

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 80%;
    margin-left: 9%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    
  }
  #h222{
    text-align: left;
  }
  .para{
    margin-top: -50px;
text-align: left;
  }
#wrapper1{
  margin-bottom: 150px;
}
#wrapper2{
  margin-bottom: 90px;
}
#wrapper3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 80%;
    margin-left: 9%;
    
}

.grid-item2 {
  
  font-size: 30px;
  text-align: center;

}
#tekst{
  background-color: white;
  float: left;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 25%;
  width: 45%;
  height: 270px;
}
#tek{
  margin-left: 12%;
  margin-top: 20px;
}

img{
  transition: 0.4s ease-in;
}

img:hover {
  transform: scale(1.1);
} 

.linktekst{
  color: aliceblue;
}
.tijdf{
  width: 80%;
  border-radius: 20px;
}
#foto1{
  width: 200px;
  height:220px ;
}
#foto2{
  width: 200px;
  height:220px;
}
#foto3{
  height: 220px;
}
#foto4{
  height:220px ;
}
