body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Nunito", Sans-serif;
    background-image: url("media/div.png");
    background-size: cover;
}

header {
    background-color: white;
    overflow: hidden;
}


.logo {
    height: 4vw;
    width: 17vw;
    margin: 2vh 3vw;
    display: inline-block;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    display: inline-flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navtekst {
    margin: 4vh 1vw;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}

.navtekst:hover {
    color: rgb(230, 124, 112);
}

#home {
    color: #98654a;
}

footer {
    height: 60vh;
    width: 100%;
    background-image: url("media/footer.png");
    background-size: cover;
    list-style-type: none;
    color: #3a3a3a;
    margin-top: 7vw;
}

.footerlogo {
    margin-top: 6vw;
    margin-bottom: 2vw;
    margin-left: 37%;
    width: 25vw;
}


a:link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin-left: 17vw;
    margin-top: 1vw;
}

.footerList {
    display: flex;
}


.main {
    background-image: url("menu.png");
    background-size: cover;
    display: inline-flex;
    height: 300vh;
    width: 100vw;
}

.downloadButton {
    background-color: #98654a;
    color: white;
    border-radius: 25px;
    padding: 2vh 2vw;
    font-size: 20px;
    margin-top: 2vw;
}