@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: white;
    overflow: hidden;
    
}

.logo {
    height: 4vw;
    width: 17vw;
    margin: 2vh 3vw;
    display: inline-block;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    display: inline-flex;
 
}

.navtekst {
    margin: 4vh 1vw;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}

.navtekst:hover {
    color: rgb(230, 124, 112);
}

#home {
    color: #98654a;
}

footer {
    height: 60vh;
    width: 100%;
    background-image: url("media/footer.png");
    background-size: cover;
    list-style-type: none;
    color: #3a3a3a;
    margin-top: 5vw;
}

.footerlogo {
    margin-top: 6vw;
    margin-bottom: 2vw;
    margin-left: 37%;
    width: 25vw;
}
.footer-div{
    margin: 10vw 10vw;
}

a:link {
    text-decoration: none;
}

ul {
    list-style: none;
    display: inline-block;
    margin-left: 18vw;
}

.footerbutton {
    margin: 2vw 45%;
    background-color: #98654a;
    color: white;
    border-radius: 25px;
    padding: 2vh 2vw;
    font-size: 17px;
}

.linktekst{
    color: aliceblue;
}



.bannerbtn {
    color: white;
    padding: 10px 36px;
    background-color: #98654a;
    border-radius: 30px;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: #714a35;
}

button:active{
    background-color: #98654a;
}

/* img{
    transition: 0.4s ease-in;
}

img:hover {
    transform: scale(1.5);
} */

.heading{
    height: 1100px;
}


.ctabtn{
    margin-top: 50px;
    height: 150px;
    width: 300px;
    border-radius: 10px;
}