@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: white;
    overflow: hidden;
    
}

.logo {
    height: 4vw;
    width: 17vw;
    margin: 2vh 3vw;
    display: inline-block;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    display: inline-flex;
 
}

.navtekst {
    margin: 4vh 1vw;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}

.navtekst:hover {
    color: rgb(230, 124, 112);
}

#home {
    color: #98654a;
}


footer {
    height: 60vh;
    width: 100%;
    background-image: url("media/footer.png");
    background-size: cover;
    list-style-type: none;
    color: #3a3a3a;
    margin-top: 7vw;
}

.footerlogo {
    margin-top: 6vw;
    margin-bottom: 2vw;
    margin-left: 37%;
    width: 25vw;
}

a:link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin-left: 17vw;
    margin-top: 1vw;
}

.footerList {
    display: flex;
}


.linktekst{
    color: aliceblue;
}

.banner{
    background-image: url("media/banner.png");
    height: 40%;
}

.bannerbtn {
    color: white;
    padding: 10px 36px;
    margin-bottom: 90px;
    background-color: #98654a;
    border-radius: 30px;
    transition: 0.3s ease-in;
}

button:hover{
    background-color: #714a35;
}

button:active{
    background-color: #98654a;
}

/*////////////////////*/
.sec-2{
    background-image: url("media/div.png");
}

.grid-item {
    background-color: rgba(237, 231, 225, 255);
    padding: 3vw 3vw;
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
}

#bestsellers{
    font-size: 35px;
    font-weight: 700;
    color: #3a3a3a;
}

.footerbutton {
    color: white;
    padding: 10px 36px;
    margin-bottom: 90px;
    background-color: #98654a;
    border-radius: 20px;
    transition: 0.3s ease-in;
    margin: auto 44%;
    width: 250px;
    height: 80px;
    font-size: 30px;
    
}

.BestIMG{
    width: 8vw;
    height: 17vh;
}


 img{
    transition: 0.4s ease-in;
}

img:hover {
    transform: scale(1.1);
} 

.heading{
    height: 100%;
}

.cta {
    display: flex;
    gap: 5em;
    justify-content: center;

}
.ctabtn{
    margin-top: 50px;
    height: 250px;
    width: 500px;
    border-radius: 10px;
    background-color: #EDE9E4;
    text-align: center;
    transition: 0.2s ease-in;
}

.ctabtn h1 {
 margin-top: 70px;
 font-weight: bold;
 font-size: 40px;
}

.ctabtn a {
    margin-top: 10px;
    font-size: 30px;
   }

.ctabtn i {
    font-size: 25px;
}

.btn1:hover{
    transform: scale(1.02);
    border: 1px solid #dcd8d3;;
}















#kort {
    text-align: center;
}

#rest {
    float: left;
    background-color: #EDE9E4;
    width: 43%;
    height: 41vw;
    margin-left: 10px;
    box-shadow: 0px 20px 50px rgba(202, 202, 203, 0.5);
    border-radius: 10px;
    margin-left: 5vw;

}

#tek1 {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

#coro {
    float: right;
    background-color: #EDE9E4;
    width: 43%;
    height: 30vw;
    margin-right: 10px;
    box-shadow: 0px 20px 50px rgb(204, 204, 205);
    border-radius: 10px;
    margin-right: 5vw;

}

#tek2 {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}

.para1 {
    margin-top: 2%;
    margin-left: 9%;
    width: 80%;

}

.h22 {
    margin-top: 2%;
    margin-left: 9%;
    width: 80%;


}

#ull {
    margin-top: 2%;
    margin-left: 9%;
}

#restaurant {
    width: 20vw;
    margin-left: 25%;
    margin-top: 1vw;
    border-radius: 10px;
}

.infoindex {
    margin-bottom: 50vw;
    margin-top: 5vw;
}

#rest:hover , #coro:hover {
    transform: scale(1.02);
    border: 1px solid #dcd8d3;
}
